.map-page {
  .map {
    width: 100%;
    height: 100%;
  }
  .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 117px;
    height: 117px;
    z-index: 3;
  }
  .daohang{
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 80px;
    height: 80px;
    z-index: 3;
    border-radius: 40px
  }
}